@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Inter:wght@400;700&display=swap');

body{
    margin: 0 auto;
    font-family: 'Inria Sans', sans-serif;
    min-width: 100vh;
    height: 5000px;
    background-image: linear-gradient(to right, gray , white)
}

header{
    background-color: #6f6f6f;
    height: 150px;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    align-items: center;
}

.logo{
    width: 150px;
    height: 150px;

}

.menu{
    display: flex;
    grid-column: 1 / 4;
    height: 50px;
    background-color: #6f6f6f;
    justify-content: space-around;
    align-items: center;
}

.menu a:hover{
    font-size: 18px;
    transition: font-size  0.3s ease;
}

header a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 36px;

}


.busca input{
    color:#ffffff;
    width: 60%;
    height: 50px;
    background-color: #434343;
    border: none;
    border-radius: 10px 0 0 10px;
}

.busca input{
    color:#ffffff;
    width: 60%;
    height: 60px;
    background-color: #434343;
    border: none;
    border-radius: 10px 0 0 10px;
    transform: skewX(-20deg);
}

.busca input::placeholder{
    color: #6f6f6f;
    font-weight: bold;
}

.busca input:focus{
  outline: none;
}
.botao{
    color:#6f6f6f;
    border: none;
    background-color: #434343;
    width: 45%;
    height: 50px;
    transform: skewX(-20deg);
}
.busca button{
    height: 60px;
    color:#6f6f6f;
    border: none;
    width: 30%;
    background-color: #434343;
    border-radius: 0 10px 10px 0;
    transform: skewX(-20deg);
}

.busca img{
    width: 16px;
    height: 16px;
}

.busca button:hover, .busca img{
    transition: filter 0.3s ease;
    filter: invert(100%);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: flex;
    margin-bottom: 30px;
}

.produto{
    width: 233px;
    height: 350px;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.produto img{
    max-width: 80%;
    height: 80%;
}

.banner{
    margin-top: 0px;
    height: 399px;
    background: #FFFEFE;
}

.button{
    margin: 15px 0px 0px 50px;
    width: 132px;
    height: 46px;
    background: #00B81D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.image{
    position: absolute;
    left: 65%;
    top: 220px;
    width: 35%;
    height: 340px;
    background: url(eletro.png), #6A78F6;
    border-radius: 216px 0 0 216px;
    background-size: 120%;
    background-repeat: no-repeat;
  
}

.banner > h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.58em;
    padding: 50px 0px 0px 50px;
}

.banner > h1{
    width: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 65px;
    letter-spacing: 0.115em;
    padding: 0px 0px 15px 50px;
}

.info > *{
    margin: 0;
    margin-left: -5%;
}

.info > h3{
    color: black;
    font-size: 32px;
}

.info > p{
    font-size: 20px;   
    color: #6A78F6;
}

.nome{
    color: #434343;
    text-align: center;
    visibility: visible;
    margin-left: 5%;
    margin-right: 5%;
}

main{
    display: flex;
    justify-content: center;
}

#anuncio{
    margin-top: 10%;
    background: #ffffff;
    width: 80%;
    height: 800px;
    border-radius: 5px;
    display: flex;
}

.imagens{
    margin-left: 5%;
    margin-right: 10%;
    width: 25%;
}

.imagens > img{
    position: sticky;
    top: 0;
    width: 200px;
}

.info-anuncio{
    margin-top: 3%;
}

.img{
    display: flex;
    height: 60%;
    justify-content: center;
}

.img > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}


footer {
    background-color: #6f6f6f;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-container p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }